.nav{
    background-color: #CEC2FA;
    font-family: 'Spartan', sans-serif;
    font-weight: bolder;
    color: white;
    padding-top: 10px;
}
.nav-item{
    color: white;
}

.col-md-5{
    background-color: #CEC2FA;
    font-family: 'Spartan', sans-serif;
    font-weight: bolder;
    color: black;
}

h4,
Header{
    background-color: black;
    color:white;
    font-family: 'Spartan', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container{
    border-style: dotted;
}



