.nav{
    background-color: #CEC2FA;
    font-family: 'Spartan', sans-serif;
    font-weight: bolder;
    color: white;
    padding-top: 10px;
}
.nav-item{
    color: white;
}

h4 {
    text-align: center;
}
h4,
Header{
    background-color: black;
    color:white;
    font-family: 'Spartan', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
}
.container{
    width: 100%;
    border-style: solid;
}

footer{
    color:white;
    background-color: black;
}

.Assignment-Information,
footer,
Header{
    text-align: center;
}
/* Adding/adjusting featured-card style portfolio html.doc */
.card-header{
    background-color: black;
    color: white;
}
